/* common */
:root {
  --bg-main: #24436f;
  --bg-body: #fafafa;
  --bg-white: #fff;

  --color-black: #3b3b3b;
  --color-dark: #797979;
  --color-white: #fff;
  --color-light: #bfc9d7;
  --color-muted: #a2a2a2;

  --border-light: #e4e4e4;

  --btn-main: #3081c9;

  --link-main: #358cda;
}
body {
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--color-black);
  background: var(--bg-body);
}
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1126px;
  margin: 0 auto;
}
.container--header {
  display: flex;
  justify-content: space-between;
}

.section--nav {
  background: var(--bg-white);
  border-bottom: 1px solid var(--border-light);
}
.section--ranking {
  padding: 22px 0;
}
.section--layout {
  padding: 40px 0 103px;
  background: var(--bg-white);
}

/* header */
.header {
  background: var(--bg-main);
  height: 75px;
  padding-top: 13px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 122px;
  height: 22px;
  margin-left: -3px;
  margin-right: 18px;
}
.logo__desc {
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--color-light);
}

.action {
  display: flex;
  align-items: center;
}
.action > * + * {
  margin-left: 11px;
}
.action__menu {
  background: #345584;
  border-radius: 4px;
}

.search-bar {
  display: flex;
}
.search-bar__input{
  height: 30px;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 258px;
  padding: 2px 15px;
  line-height: 30px;
  font-size: 13px;
}
.search-bar__input:focus {
  outline: none;
}
.search-bar__btn {
  width: 30px;
  height: 30px;
  padding: 7px;
  background: var(--btn-main);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.search-bar__btn:focus {
  outline: none;
}
.search-bar__icon {
  display: block;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}
.menu__link {
  display: block;
  padding: 0 8px;
  color: var(--color-light);
  text-decoration: none;
}
.menu--header {
  margin-left: -8px;
}
.menu--header .menu__item + .menu__item {
  border-left: 1px solid var(--color-white);
}
.menu--header .menu__link {
  color: var(--color-light);
}
.menu--header .menu__link--active {
  font-weight: bold;
}
.menu--header .menu__link--active,
.menu--header .menu__link:hover {
  color: var(--color-white);
}
.menu--action {
  align-items: center;
  padding: 8.5px 8px;
}
.menu--action .menu__item + .menu__item {
  border-left: 1px solid var(--color-light);
}
.menu--action .menu__link {
  font-size: 13px;
  color: var(--color-white);
}
.menu--action .menu__link:hover {
  text-decoration: underline;
}
.menu--category {
  justify-content: center;
  padding: 0;
}
.menu--category .menu__link {
  font-size: 13px;
  padding: 12px 10px;
  color: #294c7a;
}
.menu--category .menu__link--active,
.menu--category .menu__link:hover {
  font-weight: bold;
}
.menu--footer {
  margin-left: -8px;
}
.menu--footer .menu__item {
  margin-right: 4px;
}
.menu--footer .menu__link {
  color: var(--color-dark);
  font-size: 12px;
}
.menu--footer .menu__link:hover {
  color: #202020;
  /* text-decoration: underline; */
}
.menu--tag .menu__item {
  margin-right: 10px;
  margin-bottom: 9px;
}

.menu--tag .menu__link {
  padding: 8px;
  min-width: 40px;
  text-align: center;
  border-radius: 14px;
  font-size: 12px;
  background: #f1f1f1;
  color: var(--color-black);
}
.menu--tag .menu__link:hover {
  color: black;
}
.menu--tag .menu__link--more {
  background: transparent;
  border: 1px solid #f1f1f1;
}
.menu--tag .menu__link--more:hover {
  color: #157792;
}

/* nav */

/* ranking */
.ranking {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.ranking__item {
  flex: 1;
  position: relative;
}
.ranking__item + .ranking__item {
  margin-left: 8px;
}
.tile {
  background: var(--bg-white);
  height: 100%;
  max-width: 181px;
  position: relative;
}
.tile__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.tile__link:hover .tile__title {
  color: var(--link-main);
  text-decoration: underline;
  transition: color .2s ease-in;
}
.tile__label {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: var(--bg-main);
  color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  text-indent: -3px;
}
.tile__img {
  width: 100%;
  height: 100px;
}
.tile__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.tile__content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.4;
}
.tile__title {
  font-weight: normal;
  font-size: 13px;
}
.tile__meta {
  color: var(--color-muted);
}
.tile__desc {
  font-size: 12px;
}
.tile__subtitle {
  font-size: 13px;
}
.tile__subtitle--link {
  color: var(--color-muted);
  text-decoration: none;
}
.tile__subtitle--link:hover {
  color: black;
}
.tile__icon {
  width: 15px;
  height: 15px;
  vertical-align: -2px;
}

/* main */
.layout {
  display: flex;
  justify-content: space-between;
}
.layout--2 .layout__main {
  width: 779px;
}
.layout--2 .layout__sub {
  width: 308px;
}
.layout__header {
  height: 42px;
}
.layout__title {
  font-weight: bold;
  font-size: 24px;
}
.layout__title--2 {
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: var(--btn-main);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24);
}
.btn:hover {
  background: #59a7e6;
}

/* card */
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column--2 .column__item {
  width: calc(50% - 9px);
}
.column__item--bb {
  border-bottom: 1px solid var(--border-light);
}

.card {
  padding: 15px 0;
}
.card__link {
  display: block;
  color: var(--color-black);
  text-decoration: none;
}
.card__link:hover .card__title {
  color: var(--link-main);
  text-decoration: underline;
  transition: color .2s ease-in;
}
.card__content {
  display: flex;
}
.card__title {
  flex: 1;
  margin-right: 15px;
  font-size: 14px;
  line-height: 1.6;
}
.card__img {
  width: 100px;
}
.card__img img {
  display: block;
  width: 100%;
  height: 66px;
  object-fit: contain;
  object-position: right top;
}
.card__meta {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: var(--color-muted);
}
.card__desc {
  font-size: 12px;
  margin-right: 12px;
}
.card__icon {
  vertical-align: -2px;
}
.card__subtitle {
  font-size: 13px;
}
.card__subtitle--link {
  text-decoration: none;
  color: var(--color-muted);
}
.card__subtitle--link:hover {
  color: black;
}

.articles__more {
  margin-top: 30px;
  text-align: center;
}

/* sidebar */
.sidebar__title {
  font-size: 18px;
}
.sidebar__content {
  padding: 7px 0;
  border-bottom: 1px solid var(--border-light);
}

/* footer */
.footer {
  padding: 60px 0 9px;
}
.footer__info {
  margin-top: 20px;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
}
.footer__copy {
  display: inline-block;
  margin-top: 10px;
  font-size: 11px;
  color: var(--color-dark);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu__title {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 9px;
}
.footer-menu__content {
  width: 25%;
}
.footer-menu__content--double {
  width: 50%;
}
.footer-menu__list {
  display: flex;
  flex-direction: column;
  height: 180px;
  flex-wrap: wrap;
}
.footer-menu__item {
  height: 30px;
}
.footer-menu__list--col-2 .footer-menu__item {
  width: 50%;
}
.footer-menu__link {
  display: inline-block;
  padding: 6px 0;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 12px;
}
.footer-menu__link:hover {
  color: #202020;
  /* text-decoration: underline; */
}