/* common */
:root {
  --h: 214;
  --s: 49%;
  --l: 31%;
  --bg-main: hsl(var(--h), var(--s), var(--l));
  --bg-body: hsl(var(--h), var(--s), var(--l), 0.04);
  --bg-muted: hsl(var(--h), var(--s), 97%);
  --bg-light: #f0f0f0;
  --bg-white: #fff;
  
  --color-main: hsl(var(--h), var(--s), var(--l));
  --color-link: hsl(var(--h), var(--s), 64%);
  --color-black: #3b3b3b;
  --color-dark: #797979;
  --color-light: #a2a2a2;
  --color-muted: #e0e0e0;
  --color-white: #fff;

  --h1: 24px;
  --h2: 18px;
  
  --fs-root: 14px;
  --fs-sm: 12px;
  --fs-xs: 10.5px;

  --bs-1: 0 1px calc(var(--fs-root) * 2) rgba(0, 0, 0, 0.18);
  --bs-2: 0 1px var(--fs-root) rgba(0, 0, 0, 0.12);
  --bs-3: 0 1px 2px rgba(0, 0, 0, 0.12);

  --btn-main: hsl(var(--h), var(--s), calc(var(--l) + 18%));
  --btn-sub: hsl(var(--h), var(--s), calc(var(--l) + 26%));
}
body {
  font-size: var(--fs-root);
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--color-black);
  background: var(--bg-body);
}
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1126px;
  margin: 0 auto;
}

.section--header {
  background: var(--bg-main);
  box-shadow: var(--bs-1);
  position: relative;
}
.section--nav {
  background: var(--bg-white);
}
.section--ranking {
  padding: 2rem 0;
}
.section--layout {
  padding: 5rem 0;
  background: var(--bg-white);
}
.section--footer {
  padding: 4rem 0;
  color: var(--color-dark);
}

.section__title {
  font-weight: bold;
  margin-bottom: 1em;
}
.section__title--h1 {
  font-size: var(--h1);
}
.section__title--h2 {
  font-size: var(--h2);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__link {
  display: block;
}
.logo__img {
  display: block;
  width: 122px;
  height: 22px;
}
.logo__desc {
  font-size: var(--fs-xs);
  color: var(--color-white);
  margin-left: 1em;
  opacity: 0.7;
}

.header-action {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--fs-sm);
}
.header-action__item + .header-action__item {
  margin-left: calc(var(--fs-root) / 2);
}

.header-menu {
  display: flex;
  font-size: inherit;
}
.header-menu__item:not(:last-child) {
  margin-right: .5em;
}
.header-menu__link {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.75em 1em;
  border-radius: 1.25em;
  transition: .2s;
  border: 1px solid rgba(255,255,255,0.18);
}
.header-menu__link:hover {
  background: rgba(255,255,255,0.18);
}
.header-menu__link--btn {
  background: var(--bg-white);
  color: var(--color-main);
  font-weight: bold;
}
.header-menu__link--btn:hover {
  background: rgba(255,255,255,0.6);
}

/* nav */
.nav {
  display: flex;
}
.nav__item {
  flex-grow: 1;
}
.nav__link {
  display: block;
  color: hsla(var(--h), var(--s), var(--l), 0.6);
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  transition: .2s;
  margin-bottom: -2px;
}
.nav__link:hover {
  background: var(--bg-muted);
  color: var(--color-main);
}
.nav__link--active {
  color: var(--color-main);
  opacity: 1;
  border-bottom: 2px solid hsla(var(--h), var(--s), var(--l), 0.6);
}

/* tab-menu */
.tab-menu {
  display: flex;
  box-shadow: var(--bs-3);
  margin-bottom: 1em;
}
.tab-menu__item {
  flex: 1;
  cursor: pointer;
  background: var(--bg-white);
  color: var(--color-light);
  box-sizing: content-box;
  transition: .2s;
}
.tab-menu__item:hover {
  background: var(--bg-muted);
}
.tab-menu__item + .tab-menu__item {
  border-left: 2px solid var(--bg-body);
}
.tab-menu__item--active {
  background: var(--bg-main) !important;
  cursor: initial;
  color: var(--color-white);
  font-weight: bold;
}
.tab-menu__text {
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 1px;
  font-weight: inherit;
  color: inherit;
}

/* tile */
.tile {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.tile__item {
  flex: 1;
  background: var(--bg-white);
  position: relative;
  transition: .2s ease-out;
  box-shadow: var(--bs-3);
  border-radius: 2px;
  overflow: hidden;
}
.tile__item + .tile__item {
  margin-left: calc(var(--fs-sm) / 2);
}
.tile__item:hover {
  box-shadow: var(--bs-1);
  transform: translateY(-1px);
}
.tile__label {
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  background: var(--bg-main);
  color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-indent: -0.25em;
  z-index: 1;
}
.tile__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.tile__img {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.tile__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .2s ease-out;
}
.tile__content {
  flex: 1;
  font-size: var(--fs-sm);
  padding: 1em;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
.tile__title {
  font-weight: normal;
}
.tile__subtitle {
  margin-top: 0.5em;
  margin-bottom: auto;
}
.tile__meta {
  display: flex;
  justify-content: space-between;
  margin-top: var(--fs-sm);
  color: var(--color-light);
  font-size: var(--fs-xs);
}
.tile__sublink {
  color: var(--color-light);
  text-decoration: none;
  transition: .2s ease-out;
  padding:  0.5em 0.75em;
  margin-left: -0.75em;
  border-radius: 1em;
}
.tile__sublink:hover {
  color: var(--color-link);
  background: var(--bg-light);
}
.tile__icon {
  width: 10px;
  height: 10px;
  vertical-align: -1px;
}
.tile__more {
  display: flex;
  width: 5em;
  background: var(--bg-white);
  justify-content: center;
  align-items: center;
  margin-left: calc(var(--fs-sm) * 2);
  box-shadow: var(--bs-3);
  transition: .2s;
  fill: var(--color-link);
  border-radius: 2px;
}
.tile__more:hover {
  background: var(--bg-muted);
  box-shadow: var(--bs-2);
}

.more-btn__img {
  fill: inherit;
  width: 2em;
  height: 2em;
}

/* main */
.layout {
  display: flex;
  justify-content: space-between;
}
.layout__content + .layout__content {
  margin-top: 4rem;
}
.layout__main {
  flex: 1;
}
.layout__sub {
  width: 308px;
  margin-left: 2rem;
}
.layout__header {
  height: 42px;
}
.layout__title {
  font-weight: bold;
  font-size: var(--h1);
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  background: var(--btn-main);
  border-radius: 2px;
  box-shadow: var(--bs-2);
  transition: .2s ease-out;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: var(--bs-1);
  background: var(--btn-sub);
}

/* card */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.card__item {
  width: calc(50% - var(--fs-root) / 4);
  transition: .2s ease-in;
  border-top: 1px solid var(--color-muted);
  border-bottom: 1px solid var(--color-muted);
  margin-bottom: -1px;
  line-height: 1.6;
}
.card__item:hover {
  background: var(--bg-light);
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 1rem;
  color: var(--color-black);
  text-decoration: none;
}
.card__content {
  flex: 1;
  margin-right: 1em;
}
.card__title {
  font-weight: normal;
}
.card__subtitle {
  font-size: var(--fs-sm);
  font-weight: normal;
}
.card__sublink {
  text-decoration: none;
  color: var(--color-light);
  transition: .2s ease-in;
  padding: 0.5em 0.75em;
  margin-left: -0.75em;
  border-radius: 1em;
}
.card__sublink:hover {
  color: var(--color-link);
  background: var(--bg-white);
}
.card__img {
  width: 100px;
  height: 66px;
  overflow: hidden;
  transition: .2s ease-in;
}
.card__img img {
  display: block;
  width: 100px;
  height: 66px;
  object-fit: cover;
  object-position: center;
  transition: inherit;
}
.card__meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: var(--fs-root);
  font-size: var(--fs-xs);
  width: 100%;
  color: var(--color-light);
  align-self: flex-end;
}
.card__icon {
  width: 10.5px;
  height: 10.5px;
  vertical-align: -1.05px;
}
.card__more {
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

/* list */
.list {
  line-height: 1.6;
}
.list__item {
  border-top: 1px solid var(--color-muted);
  border-bottom: 1px solid var(--color-muted);
  margin-bottom: -1px;
}
.list__item:hover .list__content {
  color: var(--color-link);
}
.list__wrapper {
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
  text-decoration: none;
  color: inherit;
}
.list__content {
  margin-left: 2em;
  position: relative;
}
.list__content::before {
  content: url(images/common/icon_link.svg);
  position: absolute;
  left: -2em;
  top: 1px;
  height: 100%;
  opacity: 0.3;
}
.list__meta {
  color: var(--color-light);
}

/* desc */
.desc {
  line-height: 1.6;
  color: var(--color-dark);
}
.desc__content {
  margin-top: 0.5em;
  font-size: var(--fs-sm);
}

/* sidebar */
.sidebar__content + .sidebar__content {
  margin-top: calc(var(--h2) * 2);
}
.sidebar__title {
  font-size: var(--h2);
  margin-bottom: 1.5em;
}

/* cta */
.cta {
  padding: 1.5rem;
  background: var(--bg-body);
  border-radius: 2px;
}
.cta__img img {
  display: block;
  width: 100%;
}
.cta__title--center {
  text-align: center;
}
.cta__content {
  margin-top: 1em;
  font-weight: bold;
  color: var(--color-main);
  line-height: 1.4;
}
.cta__action {
  margin-top: 1.5rem;
  text-align: center;
}


/* search-bar */
.search-bar {
  display: flex;
}
.search-bar__input {
  border: none;
  border-radius: 2px 0 0 2px;
  padding: 0.75em 1em;
  width: 12em;
  transition: .5s ease-in-out;
}
.search-bar__input:focus {
  outline: none;
  width: 24em;
}
.search-bar__input--side {
  border: 1px solid var(--color-muted);
  border-right: none;
  flex: 1;
}
.search-bar__btn {
  font-size: inherit;
  width: 2.5em;
  height: 2.5em;
  padding: 8px;
  background: var(--btn-main);
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  transition: .2s;
}
.search-bar__btn:hover {
  background: var(--btn-sub);
}
.search-bar__btn:focus {
  outline: none;
}
.search-bar__icon {
  display: block;
}

/* tag */
.tag {
  display: flex;
  flex-wrap: wrap;
}
.tag__item:not(:last-child) {
  margin: 0 0.5em 0.5em 0;
}
.tag__link {
  background: var(--bg-light);
  color: var(--color-black);
  transition: .2s ease-out;
  font-size: var(--fs-sm);
  display: block;
  text-decoration: none;
  min-width: 4em;
  padding: .75em calc(1em - 4px);
  border: 2px solid var(--bg-light);
  border-radius: 1.5em;
  text-align: center;
  color: inherit;
  transition: .2s;
}
.tag__link:hover {
  opacity: 0.7;
}
.tag__link--more {
  background: transparent;
}
.tag__link--more:hover {
  transform: translateX(.75em);
  opacity: 1;
  box-shadow: -0.75em 0 var(--bg-light);
}

/* footer */
.footer__info {
  margin-top: 1.5rem;
  font-size: var(--fs-sm);
  padding-top: 1.5rem;
  border-top: 1px solid #e0e0e0;
}
.footer__copy {
  display: inline-block;
  margin-top: 1rem;
  font-size: var(--fs-xs);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu__title {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.footer-menu__content {
  width: 25%;
}
.footer-menu__content--double {
  width: 50%;
}
.footer-menu__list {
  display: flex;
  flex-direction: column;
  height: 180px;
  flex-wrap: wrap;
  font-size: var(--fs-sm);
}
.footer-menu__list--col-2 .footer-menu__item {
  width: 50%;
}
.footer-menu__link {
  display: inline-block;
  padding: 0.75em 0;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: .2s;
}
.footer-menu__link:hover {
  color: var(--color-link);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--fs-sm);
  margin-left: -1em;
}
.menu__link {
  display: block;
  padding: 0.5em 1em;
  color: var(--color-dark);
  text-decoration: none;
  transition: .2s;
  font-size: inherit;
}
.menu__link:hover {
  color: var(--color-link);
}